@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&family=Playfair+Display:wght@400;900&display=swap');
/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{list-style: none;}
a{ text-decoration: none;}

html{font-size: 7px;}

/* Header */

header{color: #fff;}
#top{height: 500px; background-color: #3B322D;}

.container{
    max-width: 1180px;
    margin: 10px;
    margin: auto;
}

 nav{
    text-align: center;
    font: 1.5rem "Fira Sans";
    padding: 1.5vw 0;
}

#logo{width: 150px;}
#menu li a{color: #fff;}
#adress,
#num{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-top: 5px;
}

#num p:first-child{font-size: 1.8rem;}
#num img, #adress img{width: 20px; margin-left: 1vw ;}

#header-bg{
    height: 90vh;
    background: url(./img/bg.jpg) center/cover;
    position: relative;
    font-family: "Playfair Display";
    text-align: center;
 padding: 80px 0 0 0px;
}

#bottom{height: 900px;background-color: #251D1A;}
#header-bg h1{font: 900  4.5rem "Playfair Display"; margin: auto;}
    
    #header-bg #btn1{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 25px;
        font: 1.4rem "Playfair Display";
        margin-bottom: 29px;
        margin-top: 20px;
    }

    #header-bg p{font: 1.8rem "Fira Sans"; margin: auto;}

    #header-bg #btn2{
        font: 2rem "Playfair Display";
        color: #fff;
        padding: 15px 30px;
        background-color: #FF6E40;
        border: 0;
    }

    #butbox{width: 100%; position: absolute;bottom: 60px;}

    .row{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       padding-top:30px 10px ;
    }

.col {padding: 30px 0px;}
.col h3{ font: 600 2.4rem "Fira Sans"; padding: 24px 0 10px 0;}
.col p{font: 1.6rem "Fira Sans";}


    


@media only screen and (min-width: 768px) {

    html{ font-size: 0.65vw;}

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #bottom{height: 600px;}

    #logo{
        width: initial;
        padding-top: 5px;
        margin-right: 0.9vw;
    } 

    #adress{margin: 0 1.5vw 0 1.4vw;}
    #num{margin-left: 1.4vw;}
    #num img, #adress img{width: initial;}

    #menu{
        display: flex;
        margin-right: 0.85vw;
        text-align: center;
    }

    #menu li{margin: 0 0.3vw;}
    #menu li a{padding: 1vw;}
    #menu li a:first-child{margin-left: 0;} 
    #menu li a:last-child{margin-right: 0;}
    #menu li a:hover{background-color: #FF6E40;}
    #header-bg{display: flex;}

   #header-bg h1{
        font-size: 7rem;
        margin: initial;
        padding-right: 50px;
        padding-left: 60px;
        line-height: 1.2;
    }

    #header-bg { text-align: initial;}
    #butbox{ width:initial; left: 60px;}
    .row{
        flex-direction: row;
        justify-content: space-between;
        padding: 70px 10px;
    }

}

